.bg-blue{
background-color: #001489;
color: white;
}

.btn-outline-white {
    color: #ffffff;
    background-color: transparent;
    background-image: none;
    border-color: #ffffff;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #011489;
    border-bottom: 1px solid rgb(255, 255, 255);
    color: white;
}


body {
    background-color: #d4d0d0;
}

.breadcrumb-item.active {
    color: #ffffff;
}


.breadcrumb {
    background-color: #272727;
}

.a-white {
    color: #d0d0d0;
}