body{
    min-height: 690px;
}
a{
    font-weight: normal;
    color: grey;
}
.table td, .table th
{
    border-top: none;
    border-bottom: 1px solid #dee2e6;
}
.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}
.container {
    max-width: 80%;
}
.shopping-header
{
    max-width: 1000px;
}
.instock
{
    color: #0000e5;
}
.outstock
{
    color: red;
}
.product_name
{
    font-size: 20px;
}
.production_criteria
{
    font-size: 18px;
}
.subtotal
{
    font-size :22px;
    font-weight: bold;
}
.summary_section
{
    float: left;
    width: 100%;
    padding: 10px;
}
.left-col
{
    float: left;
    width: 50%;
}
.right-col
{
    float: left;
    width: 50%;
    text-align: right;
}
#btn_process
{
    float: right;
    margin-bottom: 15px;
    margin-top: 15px;
}
